<launch>

    <node pkg="robotics_project_one" type="odom" name="odometryNode" output="screen" />
    <node pkg="robotics_project_one" type="compute_control" name="wheelSpeedsNode" output="screen" />

    <param name="r" type="double" value="0.07" />
    <param name="lx" type="double" value="0.2" />
    <param name="ly" type="double" value="0.169" />
    <param name="T" type="double" value="5.0" />
    <param name="N" type="double" value="42" />

    <param name="x0" type="double" value="10" />
    <param name="y0" type="double" value="10" />
    <param name="theta0" type="double" value="3.14" />

</launch>